@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --sky-blue: #4285f4;
    --brown: #5c2018;
    --clay-orange: #bc4639;
    --ligth-clay: #d4a59a;
    --petra-white: #f3e0dc;
    --very-light-pink: #C7C7C7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.section1 {
    /* Section 1 */


    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -426px;
    width: 857px;
    height: 457px;

    border: 2px solid var(--sky-blue);
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.player {
    /* player 1 */


    position: absolute;
    width: 118px;
    height: 32px;
    left: calc(50% - 118px/2 + 16px);
    top: calc(50% - 32px/2 + 3px);

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}


.name-container {
    /* Section 2 */


    box-sizing: border-box;
    margin-right: 0px;

    position: absolute;
    width: 222px;
    height: 64px;
    left: 28px;
    top: 27px;

    background: #4285F4;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.score-container {
    /* Section 3 */


    box-sizing: border-box;

    position: absolute;
    width: 517px;
    height: 64px;
    left: 312px;
    top: 27px;

    background: #4285F4;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.line {
    position: absolute;
    width: 64px;
    height: 0px;

    z-index: 1;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

#reset {
    top: 460px;
    left: 400px;
    background: var;
    background: white;
    border: 1px solid var(--sky-blue);
    width: 60px;
}

.points-ellipse {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 372px;
    top: 34px;
    z-index: 1;

    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.games-ellipse {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 471px;
    top: 34px;
    z-index: 1;

    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.vertical-line {
    position: absolute;
    width: 80px;
    height: 0px;
    left: 410px;
    top: 57px;
    z-index: 1;

    mix-blend-mode: normal;
    border: 2px solid #FFFFFF;
    transform: rotate(-59.3deg);
}

.trophy {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -153px;
    top: 5px;
}

.point-button {
    position: absolute;
    width: 52px;
    height: 32px;
    left: 769px;
    top: 43px;
    background: var(--sky-blue);
    mix-blend-mode: normal;
    border-radius: 8px;
    border: 2px solid var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.point-button:hover {
    box-shadow: 0 1.5px 4px rgba(0,0,0,0.4);
  }



.point-button-number {
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 16px;
    left: 801px;
    top: 52px;
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    font-weight: bold;
    pointer-events: none;
}

.point-button-number:hover {
    cursor: pointer;
}

.plus-horizontal {
    position: absolute;
    width: 17px;
    height: 0px;
    top: 13px;
    right: 6px;


    border: 2px solid #FFFFFF;
    border-radius: 3px;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}


.line-effect {
    position: absolute;
    
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: -2px;
    right: 19px;
    /* border: 2px solid #FFFFFF; */
    border-radius: 3px;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.line-effect:hover {
    transform: rotate(90deg);
  transform-origin: center;
}

.plus-vertical {
    position: absolute;
    width: 17px;
    height: 0px;
    top: 13px;
    right: 6px;


    border: 2px solid #FFFFFF;
    border-radius: 3px;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}


#score-container1 {
    opacity: 0.6;
}

/* -74left & +78top */
/* Block 1 */

#line1 {
    /* Line 1 */
    left: 727px;
    top: 58px;
}

#line2 {
    /* Line 2 */
    left: 650px;
    top: 58px;
}

#line3 {
    /* Line 3 */
    left: 577px;
    top: 58px;
}

#line4 {
    /* Line 4 */
    left: 504px;
    top: 58px;
}

#pointsP {
    /* 14 */


    position: absolute;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 14px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #0E0E0E;
    font-weight: bold;
}

#matchsP {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 14px;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #0E0E0E;
    font-weight: bold;

}


#number-2 {
    left: 725px;
}


#point-button-2 {
    left: 694px;
}

#number-1 {
    left: 650px;
}

#point-button-1 {
    left: 620px;
}

#number-0 {
    left: 578px; 
}

#point-button-0 {
    left: 547px;
}
/* Block 1 end */
/* Block 2 */

#name-container2 {
    left: 28px;
    top: 111px;
}

#score-container2 {
    left: 312px;
    top: 111px;
    opacity: 0.6;
}

#line5 {
    left: 727px;
    top: 142px;
}

#line6 {
    left: 653px;
    top: 142px;
}

#line7 {
    left: 579px;
    top: 142px;
}

#line8 {
    left: 505px;
    top: 142px;
}

/* Block 2 end */
/* Block 3 */

#name-container3 {
    left: 28px;
    top: 195px;
}

#score-container3 {
    left: 312px;
    top: 195px;
    opacity: 0.6;
}

#line9 {
    left: 727px;
    top: 226px;
}

#line10 {
    left: 653px;
    top: 226px;
}

#line11 {
    left: 579px;
    top: 226px;
}

#line12 {
    left: 505px;
    top: 226px;
}

/* Block 3 end */
/* Block 4 */

#name-container4 {
    left: 28px;
    top: 279px;
}

#score-container4 {
    left: 312px;
    top: 279px;
    opacity: 0.6;
}

#line13 {
    left: 727px;
    top: 310px;
}

#line14 {
    left: 653px;
    top: 310px;
}

#line15 {
    left: 579px;
    top: 310px;
}

#line16 {
    left: 505px;
    top: 310px;
}

/* Block 4 end */
/* Block 5 */

#name-container5 {
    left: 28px;
    top: 363px;
}

#score-container5 {
    left: 312px;
    top: 363px;
    opacity: 0.6;
}

#line17 {
    left: 727px;
    top: 394px;
}

#line18 {
    left: 653px;
    top: 394px;
}

#line19 {
    left: 579px;
    top: 394px;
}

#line20 {
    left: 505px;
    top: 394px;
}

/* Block 5 end */